* { margin:0;padding:0;box-sizing:border-box; }
body{
	color:#fff;
	font-size:18px;
	font-family: 'Raleway', sans-serif;
	background:url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

a:link {
	text-decoration: none;
	color: #fff

}

nav {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	padding: 2em;
	word-spacing: 4em;
}

#logo {
	text-align: center;
	margin-top: 75px;
}

#slogan {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	text-align: center;
	background: rgba(216,248,220,.5);
	width: 300px;
	margin: 0 auto;
	padding: 15px;

}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	text-align: center;
	text-transform: lowercase;
	padding: 100px;
	margin-bottom: 25px;
	font-weight: lighter;
}

#services {
	background: rgba(248,185,155,.8);
	padding: 40px;
}
.servicesDiv {
	float:left;
	margin:0 auto;
	width:50%;
	font-weight:normal;
}

.servicesDiv h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
	text-transform: uppercase;
}

.container {
	margin:0 auto;
	width:75em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
