* { margin:0;padding:0;box-sizing:border-box; }
body{
	color:#fff;
	font-size:16px;
	font-family: arial, helvetica, sans-serif;
	background:url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

#logo {
	text-align: center;
	margin-top: 100px;
}

#slogan {
	text-align: center;
	font-style: italic;
	background: rgba(216,248,220,.5);
	width: 250px;
	margin: 0 auto;
	padding: 15px;

}

h1 {
	font-size:1.5em;
	text-align: center;
	text-transform: uppercase;
	padding: 40px;
	margin-bottom: 25px;
	font-weight:normal;
}

#services {
	background: rgba(248,185,155,.8);
	padding: 125px;
}
.servicesDiv {
	float:left;
	margin:0 auto;
	width:50%;
	font-weight:normal;
}

#contact {
	text-align: center;
}
.container {
	margin:0 auto;
	width:75em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

