* { margin:0;padding:0;box-sizing:border-box; }
body{
	color:#fff;
	font-size:18px;
	font-family: 'Raleway', sans-serif;
	background:url(../images/background.jpg) no-repeat;
	background-size: cover;
	background-attachment:fixed;
}

a:link {
	text-decoration: none;
	color: #fff

}

nav {
	font-family: 'Merriweather', serif;
	padding: 5em;
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 1.2em;
	word-spacing: 3em;
	position: relative; left: 3em;
}

nav img{
	float: left;
	width: 5em;
	position: fixed; top: 2.5em; left: 2em;

}

#slogan {
	font-family: 'Merriweather', serif;
	text-transform: uppercase;
	text-align: center;
	background: rgba(216,248,220,.5);
	width: 300px;
	margin: 0 auto;
	padding: 15px;
	border: 2px solid #fff;

}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	text-align: center;
	text-transform: lowercase;
	padding: 1em;
	margin-bottom: 25px;
	font-weight: lighter;
}

footer {
	background: rgba(248,185,155,.8);
	padding: 40px;
	position:absolute;bottom:0;left:0;right:0;
}
.servicesDiv {
	float:left;
	margin:0 auto;
	width:50%;
	font-weight:normal;
}

.servicesDiv h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.2em;
	text-transform: uppercase;
}

.container {
	margin:0 auto;
	width:75em;
}

.socialmedia {
	float: right;
	margin-left: 5em;
}

section {
	margin-top: 10em;
}

nav a:hover {
	color: rgba(248,185,155,.8);
	text-decoration: underline;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}

#workshops{
	width: 80em;
	background: rgba(216,248,220,.8);
	margin: 5em auto;
	padding: 1em;
	
}

.learntitle {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
}

.learntag {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: .95em;
	text-transform: lowercase;

}

.workshopboxes {
	padding: 5em;
	margin: 0 auto;
	width: 20em;
}


